Body{
    background-color: #E0DffD;
    overflow-x: hidden;
}

.color-roxo{
    background-color: #272747; 
}

.img{
    width: 50px;
    height: 50px;
}

.fundo{
    z-index: -1;

}


html {
  box-sizing: border-box;
}
html *,
html *:before,
html *:after {
  box-sizing: inherit;
  font-family: "Vollkorn", serif;;
}
.chamativo {
  color: white;
  background-color: rgb(248, 113, 113);
  padding: 10px;
  text-align: center;
  font-size: 2em;
  border-radius: 10px;
}

.promo {
  font-size: medium;
}


